.root{
	-fx-background-image: url("space.jpg");
	-fx-background-size: cover;
	-fx-background-repeat: no-repeat;
	-fx-font-family:"Futura";
}

.jfx-button{
	-jfx-button-type: RAISED;
	-fx-font-size:12px;
	-fx-font-family:"Futura";
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(#07082b, #ada2c1);
	-fx-text-fill: #ffffff; 
	-fx-border-color: #ffffff;
	-fx-border-radius: 2px;
	-fx-border-width: 1px;
}

.jfx-button:hover{
	-fx-background-color: linear-gradient(#ada2c1, #8e1227);
	-fx-text-fill: #07082b; 
	-fx-border-color: #07082b;
	-fx-border-radius: 2px;
	-fx-border-width: 1px;
}
